*{
    margin:0;
    padding: 0;
}
a{
    color:white;
    text-decoration: none;
}
ul{
    list-style: none;
}
#content{
    width:1000px;
    height:1000px;
    border:1px solid red;
    margin:0 auto;
}
#head{
    width:1000px;
    height:150px;
    border:1px solid red;
    float: left;
    background: #f9f9f9;
}
#head_img{
    width:235px;
    height:70px;
    float: left;
}
#head p{
    width:400px;
    height: 40px; 
     float:left;
    line-height:40px;
    margin-left: 360px;
    /* border:1px solid red; */
}
#head p a{ 
    color:blue;
}
#head_ioc{
    width:480px;
    height: 18px;
    float: left;
    margin:10px 0px 10px 280px;
    line-height:40px;
    text-align: center;
    /* border:1px solid purple; */
}
#head_ioc a{
    color:#a8a8a8;
}
#ioc_1{
    min-width: 90px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    float:left;
    background: url("../images/top_r4_c4.jpg") no-repeat;
    /* border:1px solid blue; */
}
#ioc_2{
    min-width: 90px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    float:left;
    background: url("../images/top_r4_c6.jpg") no-repeat;
     /* border:1px solid blue; */
}
#ioc_3{
    min-width: 120px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    float:left;
    background: url("../images/top_r4_c8.jpg") no-repeat;
     /* border:1px solid blue; */
}
#ioc_4{
    min-width: 90px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    float:left;
    background: url("../images/top_r4_c10.jpg") no-repeat;
     /* border:1px solid blue; */
}
#ioc_5{
    min-width: 90px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    float:left;
    background: url("../images/top_r4_c12.jpg") no-repeat;
     /* border:1px solid blue; */
}
#nav{
    width:1000px;
    height: 50px;
   /*  border:1px solid red; */
    background:url("../images/header_r3_c20.jpg");
    float: left;
    font-size:14px;
    margin-top:10px;
}
#nav li{
    width:120px;
    height:50px;
    line-height: 50px;
    float:left;
    /* border:1px solid orange; */
    text-align: center;
}
#nav li:hover{
    background:#2f70c0;/* 
    box-sizing: border-box;
    border:10px solid #4894ce */
}
#banner{
    width:747px;
    height: 270px;
    /* border:1px solid red; */
    float: left;
}
#loginbar{
    width:225px;
    height:275px;
    border:1px solid red;
    float: left;
    margin-left:20px;
}
#loginbar_1{
    width:220px;
    height: 80px;
    /*border:1px solid green;*/
    background: url('../images/header_r1_c20.jpg')
}
#loginbar_2{
    width:220px;
    height: 60px;
    /*border:1px solid green;*/
    background: url('../images/header_r3_c20.jpg')
}
#loginbar_2 p{
    width:220px;
    height: 60px;
    text-align: center;
    line-height: 20px;
    color:#fffbfc;
    /*border:1px solid green;*/
    padding-top:10px;
    box-sizing:border-box;
}
.gray{
    color:#84c0e3;
    font-size:12px;
    letter-spacing: 1px;
}
#newsLeft{
    width:200px;
    height:240px;
    border:1px solid red; 
    float: left;
}
.newsLeft_title,.newsMid_title{
    width:200px;
    height:35px;
    background: url("../images/pub_box2_r1_c14.jpg");
    color:white;
    line-height:35px;
    text-indent: 15px;
}
.newsLeft_content{
    width:190px;
    height:194px;
    border:6px solid #224e8b;
    border-left:5px solid #224e8b;
    border-radius: 6px;
    text-align: center;
    font-size: 14px;
}
.newsLeft_content dd{
    width:180px;
    padding:10px;
    color:#6a6a6a;
}
#newsMid{
    width:560px;
    height:240px; 
    border:1px solid red;
    float: left;
}
.newsMid_title{
    width:554px;
    margin-left:3px;
}
.newsMid_content{
    width:270px;
    height: 200px;
    color:#6a6a6a;
    float:left;
    border:1px solid red;
    margin-top:2px;
    padding:20px 3px;
    box-sizing: border-box;
}
.newsMid_content li{
    width:250px;
    height:26px;
    line-height: 26px;
    margin-left: 10px;
    font-size:10px;
}
.newsMid_content2{
    width:260px;
    height:80px;
    float:left;
    border:1px solid black;
    margin-top:2px;
    color:#6a6a6a;
    font-size:10px;
}
.newsMid_content2 dt{
    margin:8px;
    float:left;
}
.newsMid_content2 h5{
    height:24px;
    margin-top:3px;
}
#newsRight{
    width:232px;
    height:240px;
    border:1px solid red;
    float: left;
}