<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>图片列表页</title>
    <link rel="stylesheet" href="css/global.css">
</head>
<body>
        <div id='content'>
                <div id='head'>
                    <img id='head_img' src="./images/top_r1_c1.jpg" alt="">
                    <p>游客你好！您还没有<a href="www">登录</a>，若您不是会员请先免费<a href="www">注册</a></p>
                    <ul id='head_ioc'>
                        <li id='ioc_1'><a href="">留言板</a></li>
                        <li id='ioc_2'><a href="">订阅</a></li>
                        <li id='ioc_3'><a href="">加入收藏</a></li>
                        <li id='ioc_4'><a href="">论坛</a></li>
                        <li id='ioc_5'><a href="">English</a></li>
                    </ul>
                    <ul id='nav'>
                        <a href=""><li>关于分会</li></a>
                        <a href=""><li>行业动态</li></a>
                        <a href=""><li>学术交流</li></a>
                        <a href=""><li>业务合作</li></a>
                        <a href=""><li>历届年会</li></a>
                        <a href=""><li>会员之家</li></a>
                        <input type="text" class=nav_input>
                    </ul>
                </div>
                <div class=list_sidebar>
                    <div id='sidebar2' style="margin-top:10px;height: 220px;">
                        <ul>
                            <!-- <a href=""><li class=sidebar_list1><p>业务合作<br><font>Bussniess Cooperation</font></p></li></a> -->
                            <li class=sidebar_list1><p>业务合作<br><font>Bussniess Cooperation</font></p></li>
                            <a href=""><li class=sidebar_list2><p>培训信息<br></li></a>
                            <a href=""><li class=sidebar_list2><p>培训信息<br></li></a>
                            <a href=""><li class=sidebar_list2><p>培训信息<br></li></a>
                        </ul>
                    </div>
                    <div id='newsRight' style="height:200px;width:220px;margin-left: 3px;">
                        <div class="newsRight_title" style="width:219px">资源中心</div>
                        <ul class="newRight_content" style="height:150px;">
                            <a href=""><li><img src="./images/zy_icon_s_r5_c1.jpg">&nbsp;&nbsp;&nbsp;这是一个新闻</li></a>
                            <a href=""><li><img src="./images/zy_icon_s_r7_c1.jpg">&nbsp;&nbsp;&nbsp;这是一个新闻</li></a>
                            <a href=""><li><img src="./images/zy_icon_s_r1_c1.jpg">&nbsp;&nbsp;&nbsp;这是一个新闻</li></a>
                            <a href=""><li><img src="./images/zy_icon_s_r7_c1.jpg">&nbsp;&nbsp;&nbsp;这是一个新闻</li></a>
                            <a href=""><li><img src="./images/zy_icon_s_r1_c1.jpg">&nbsp;&nbsp;&nbsp;这是一个新闻</li></a>
                        </ul>
                    </div>
                    <div id='newsRight' style="width:220px;margin-left: 3px;">
                        <div class="newsRight_title" style="width:219px;">学术交流</div>
                        <div class=newsRightMid> 
                            <img src="./images/pic1.jpg" alt="">
                            <h5>行业动态标题</h5><p>这里是一段测试文本 尚有待调整<a href="">详情>></a></p>
                        </div>
                        <ul class=newsLeftBottom style="margin-top:-8px;">
                            <a href=""><li>某莫某教授赴华中科</li></a>
                            <a href=""><li>某莫某教授赴华中科</li></a>
                            <a href=""><li>某莫某教授赴华中科</li></a>
                            <a href=""><li>某莫某教授赴华中科</li></a>
                        </ul>
                    </div>
                    <img src="./images/list_r7_c1.jpg" class=list_sidebar_img>
                    <img src="./images/list_r9_c1.jpg" class=list_sidebar_img>
                </div>
                <div class=list_1100>
                    <div class='newsMid_title'  style="width:750px">
                        <div class='title_box'>培训信息 </div>
                        <div class='title_nav'><a href="">首页</a>&nbsp;&nbsp;&lt;&nbsp;&nbsp;<a href="">培训合作</a>
                            &nbsp;&nbsp;&lt;&nbsp;&nbsp;<a href="">培训信息</a></div>
                    </div>
                    <ul class=pic>
                        <li><img src="./images/pic2.jpg" alt=""> 上海市委书记、市长韩正一行来访</li>
                        <li><img src="./images/pic2.jpg" alt=""> 上海市委书记、市长韩正一行来访</li>
                        <li><img src="./images/pic2.jpg" alt=""> 上海市委书记、市长韩正一行来访</li>
                        <li><img src="./images/pic2.jpg" alt=""> 上海市委书记、市长韩正一行来访</li>
                        <li><img src="./images/pic2.jpg" alt=""> 上海市委书记、市长韩正一行来访</li>
                        <li><img src="./images/pic2.jpg" alt=""> 上海市委书记、市长韩正一行来访</li>
                        <li><img src="./images/pic2.jpg" alt=""> 上海市委书记、市长韩正一行来访</li>
                        <li><img src="./images/pic2.jpg" alt=""> 上海市委书记、市长韩正一行来访</li>
                        <li><img src="./images/pic2.jpg" alt=""> 上海市委书记、市长韩正一行来访</li>
                        <li><img src="./images/pic2.jpg" alt=""> 上海市委书记、市长韩正一行来访</li>
                        <li><img src="./images/pic2.jpg" alt=""> 上海市委书记、市长韩正一行来访</li>
                        <li><img src="./images/pic2.jpg" alt=""> 上海市委书记、市长韩正一行来访</li>
                        <li><img src="./images/pic2.jpg" alt=""> 上海市委书记、市长韩正一行来访</li>
                        <li><img src="./images/pic2.jpg" alt=""> 上海市委书记、市长韩正一行来访</li>
                        <li><img src="./images/pic2.jpg" alt=""> 上海市委书记、市长韩正一行来访</li>
                    </ul>
                    <ul class=page>
                        <a href=""><li>首页</li></a>
                        <a href=""><li>上一页</li></a>
                        <a href=""><li>1</li></a>
                        <a href=""><li>2</li></a>
                        <a href=""><li>3</li></a>
                        <a href=""><li>4</li></a>
                        <a href=""><li>5</li></a>
                        <a href=""><li>6</li></a>
                        <a href=""><li>7</li></a>
                        <a href=""><li>8</li></a>
                        <a href=""><li>下一页</li></a>
                        <a href=""><li>尾页</li></a>
                        <a href=""><li>...</li></a>
                    </ul>
                </div>
                <div id="friend">
                        <img src="./images/friends_r1_c1.jpg" alt="">
                        <img src="./images/friends_r1_c4.jpg" alt="">
                        <img src="./images/friends_r1_c6.jpg" alt="">
                        <img src="./images/friends_r1_c8.jpg" alt="">
                        <img src="./images/friends_r1_c11.jpg" alt="">
                    </div>
                    <div id='bottom'>
                        <img src="./images/footer_logo.jpg" alt="">
                        <p>地址：上海市冰河路151号（201203）&nbsp;&nbsp;电话：86--51320288-5427/5415&nbsp;&nbsp;传真：2654-56456-41563</p>
                    </div>
            </div>
    
</body>
</html>